In [1]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
filename = '/content/drive/MyDrive/marycris/bostonHousing1978 (2).csv'

In [4]:
df = pd.read_csv(filename)

In [5]:
df[['RM']].head()

      RM
0  6.575
1  6.421
2  7.185
3  6.998
4  7.147

In [6]:
df[['RM', 'target']].head()

      RM  target
0  6.575    24.0
1  6.421    21.6
2  7.185    34.7
3  6.998    33.4
4  7.147    36.2

In [7]:
df[['RM', 'LSTAT', 'PTRATIO', 'target']].tail()

        RM  LSTAT  PTRATIO  target
501  6.593   9.67     21.0    22.4
502  6.120   9.08     21.0    20.6
503  6.976   5.64     21.0    23.9
504  6.794   6.48     21.0    22.0
505  6.030   7.88     21.0    11.9

In [8]:
df['RM'].head()

0    6.575
1    6.421
2    7.185
3    6.998
4    7.147
Name: RM, dtype: float64

In [9]:
type(df['RM'].head())

pandas.core.series.Series

In [10]:
df['RM', 'target']

KeyError: ignored

In [11]:
df['RM']

0      6.575
1      6.421
2      7.185
3      6.998
4      7.147
       ...
501    6.593
502    6.120
503    6.976
504    6.794
505    6.030
Name: RM, Length: 506, dtype: float64

In [12]:
df['RM'][0:10]

0    6.575
1    6.421
2    7.185
3    6.998
4    7.147
5    6.430
6    6.012
7    6.172
8    5.631
9    6.004
Name: RM, dtype: float64

In [13]:
df.RM.head()

0    6.575
1    6.421
2    7.185
3    6.998
4    7.147
Name: RM, dtype: float64

In [14]:
df.loc[:, ['RM']].head()

      RM
0  6.575
1  6.421
2  7.185
3  6.998
4  7.147

In [15]:
df.loc[:, 'RM'].head()

0    6.575
1    6.421
2    7.185
3    6.998
4    7.147
Name: RM, dtype: float64